* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: url(images/bgWaves.png);
}
.intro {
  margin: 5px 5%;
  background-color: white;
  padding: 5px;
  text-align: center;
}

.grass {
  --rim-width: 10px;
  width: 100%;
  min-height: 65vh;
  max-width: 1000px;
  border-radius: 50%;
  background-image: url("https://cdn.pixabay.com/photo/2014/05/18/00/18/grass-346644_1280.png");
  margin: 1rem auto 35vh;
  position: relative;

  &:after {
    content: "";
    width: calc(100% + (var(--rim-width) * 2));
    left: calc(var(--rim-width) * -1);
    height: 65vh;
    border-radius: 0 0 45vh 45vh;
    background-image: url("https://cdn.pixabay.com/photo/2014/05/18/00/18/grass-346644_1280.png");
    display: block;
    top: 50%;
    position: absolute;
    z-index: 4;
  }
}

.water {
  background: rgb(8, 53, 89);
  background: radial-gradient(circle at 10% 10%, #4d88ff 0%, #00a7b3 100%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 3rem;
  animation: moveRiver 10s infinite;
}
@keyframes moveRiver {
  0% {
    transform: scale(1) translateX(0px) translateY(230px) rotateX(-0.2turn);
  }
  10% {
    transform: scale(0.98) translateX(10px) translateY(200px) rotateX(-0.2turn);
  }
  30% {
    transform: scale(0.9) translateX(10px) translateY(50px) rotateX(0);
  }
  50% {
    transform: scale(1) translateX(0px) translateY(50px) translateY(-20px)
      rotateX(0);
  }
  80% {
    transform: scale(0.9) translateX(20px) translateY(200px) rotateX(-0.2turn);
  }
  100% {
    transform: scale(1) translateX(0px) translateY(230px) rotateX(-0.2turn);
  }
}
.waterNums {
  color: #f6e7b5;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 75%;
  height: 66%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(75deg);
  font-size: 4.5rem;
  perspective: 1200px; /* stronger perspective */
  perspective-origin: center 20%;

  a {
    color: inherit;
    text-decoration: none;
    font-weight: 900;
    padding: 1ch;
    transition: 1000ms;
    display: block;
    opacity: 0.2;
    filter: blur(5px);
    text-shadow: 0 4px 0 color-mix(in srgb, #f6e7b5, #000 30%);

    &:hover {
      opacity: 1;
      filter: blur(0px);
      animation: jump 2s ease-in-out;
    }
  }
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.data {
  max-width: 750px;
  margin: 1rem auto;
  background: #fff;

  h2 {
    background: linear-gradient(to right, rgb(130, 192, 254), dodgerblue);
    padding: 1rem;
    color: #fff;
    position: relative;
  }

  div:first-of-type {
    h2 {
      margin-top: -5rem;
      z-index: 2;
    }
  }
}

h3 {
  color: black;
  padding: 1%;
  text-align: center;
}

hr {
  width: 30%;
  border-top: 3px dotted dodgerblue;
}

.back,
.homePage {
  padding-left: 100px;
  font-size: 1rem;
  text-decoration: overline underline;
}
.back:hover {
  background-color: dodgerblue;
  color: black;
  text-decoration: none;
  color: white;
}
.homePage {
  color: blueviolet;
  font-weight: bolder;
  font-size: 1.2rem;
  padding-left: 300px;
}
.homePage:hover {
  color: rgb(205, 43, 226);
}
#movie {
  color: blueviolet;
  text-decoration: none;
}
#movie:hover {
  color: orangered;
}
